
@{
    ViewData["Title"] = "CheckYourInbox";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="main-agileinfo">
	<div asp-validation-summary="All"></div>
	<div class="agileits-top">
		<div>
			<h2>Check your inbox</h2>
            <p>
                We have sent you an email with a link to reset your password. Please check your inbox.
            </p>
		</div>
		<div>
			<a href="https://mail.google.com/" target="_blank"> Your Inbox </a>
		</div>
	</div>
</div>
